<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cassetterentaldb</property>
        <property name="hibernate.connection.username">rental_user</property>
        <property name="hibernate.connection.password">mypassword123</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="user.User"/>
        <mapping class="movie.Movie"/>
        <mapping class="rent.Rent"/>
        <mapping class="director.Director"/>
        <mapping class="category.Category"/>
    </session-factory>
</hibernate-configuration>